@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
  background-color: #CED4DA;
}

.chatHeading {
  font-family: "Poppins", san-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  padding: 15px;
  border-bottom: 1px solid #CED4DA;
}

.profPic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
  float: left;
}
